@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap";
@import "http://fonts.cdnfonts.com/css/helvetica-neue-9";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  flex-direction: column;
}

header {
  font-weight: 400;
  display: flex;
  gap: 20px;
  width: 940px;
  height: 100px;
  font-family: "Helvetica Neue", sans-serif;
}
header > div:nth-of-type(1) {
  width: 300px;
  height: 100px;
  background: #dddddd;
  border-radius: 0px 0px 5px 5px;
}
header > div:nth-of-type(2) {
  width: 620px;
  height: 100px;
  left: 320px;
  background: #dddddd;
  border-radius: 0px 0px 5px 5px;
}
header > div:nth-of-type(2) > span {
  margin-left: 80px;
  margin-top: 39px;
  width: 245px;
  height: 18px;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;
  color: white;
}

footer {
  max-width: 941px;
  height: 100px;
  font-family: "Helvetica Neue", sans-serif;
}
footer > div {
  width: 941px;
  height: 100px;
  background: #dddddd;
  border-radius: 0px 0px 5px 5px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
footer > div > span {
  position: absolute;
  width: 245px;
  height: 18px;
  left: 81px;
  top: 42px;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;
  color: white;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

main {
  width: 940px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.content {
  width: 940px;
  display: flex;
  gap: 20px;
  flex-shrink: 0;
  justify-content: flex-end;
}

.slider {
  height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 0;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 5px;
}

.topRowContainer {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  border-radius: 5px;
}

.topRow {
  height: 200px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  transition: none;
}
.topRow > img {
  height: 100%;
  border-radius: 5px;
}

.bottomRowContainer {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  border-radius: 5px;
}

.bottomContainer {
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
}

.bottomRow {
  height: 200px;
  align-items: flex-end;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  transition: none;
}
.bottomRow > img {
  height: 100%;
  border-radius: 5px;
}

.buttons {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  align-self: baseline;
  margin-left: 100px;
}
.buttons > button {
  width: 60px;
  height: 60px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons > button > span {
  height: 16px;
  width: 10px;
}
.buttons > .minusBtn > span {
  background-image: url("Assets/arrow-gray-right.png");
}
.buttons > .minusBtn:hover {
  border: 1px solid #134880;
}
.buttons > .minusBtn:hover > span {
  background-image: url("Assets/arrow-blue-right.png");
}
.buttons > .plusBtn > span {
  background-image: url("Assets/arrow-gray-left.png");
}
.buttons > .plusBtn:hover {
  border: 1px solid #134880;
}
.buttons > .plusBtn:hover > span {
  background-image: url("Assets/arrow-blue-left.png");
}

.sideBar {
  width: 301px;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-family: "Source Sans Pro", sans-serif;
}
.sideBar > div {
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: -0.2px;
  color: #484a4c;
  flex-shrink: 0;
}
.sideBar > h1 {
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.2px;
  color: #134880;
  margin-bottom: 20px;
  flex-shrink: 0;
}/*# sourceMappingURL=style.css.map */